@{
    ViewBag.Title = "Úvod";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Informace</h3>
    </div>
    <div class="panel-body">
        <p>
            Tato aplikace byla vytvořena jako projekt v rámci předmětu <strong>PA036 Projekt z databázových systémů</strong>.
            Slouží k prezentaci analytických dotazů v databázi PostgreSQL a jejich aplikaci na vzorových datech. Začněte výběrem
            dotazu v levém panelu.
        </p>
    </div>
</div>