<ul class="nav nav-sidebar">
    <li><a asp-controller="Home" asp-action="Index">Úvod</a></li>
</ul>

<h2>Představení analytických dotazů</h2>
<ul class="nav nav-sidebar">
    <li><a asp-route="query" asp-route-name="DemoData">Ukázková data</a></li>
    <li><a asp-route="query" asp-route-name="OverOrderBy">OVER ORDER BY</a></li>
    <li><a asp-route="query" asp-route-name="OverPartitionBy">OVER PARITION BY</a></li>
    <li><a asp-route="query" asp-route-name="OverPartitionByOrderBy">OVER PARTITION BY, ORDER BY</a></li>
</ul>