<p>
    LAG se vždy dívá hodnotu v předchozím řádku, hodí se například při zjišťování platu v minulém měsící apod.
    LEAD se analogicky dívá hodnotu v následujícím řádku.
</p>

<img src="~/images/LagLead.png" />