<form>
    <div class="row">
        <div class="col-md-2">
            <label for="LagLead">Analytická funkce</label>
        </div>


        <div class="col-md-10">
            <select class="selectpicker" name="LagLead" id="LagLead">
                <option value="Lag">Lag</option>
                <option value="Lead">Lead</option>
            </select>

            <button type="submit" class="btn btn-default">Použít</button>
        </div>
    </div>
</form>